Cours_06_Un_schéma_TEI_personnalisé/Exercices/odd-test.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0"
   xmlns:xi="http://www.w3.org/2001/XInclude"
     xmlns:sch="http://purl.oclc.org/dsdl/schematron">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>ODD test</title>
         </titleStmt>
         <publicationStmt>
            <p>Exercice pour un cours d'initiation à l’encodage XML-TEI.</p>
         </publicationStmt>
         <sourceDesc>
            <p/>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <div rend="toc" xml:id="Specifications">
            <head>Specifications</head>
            <schemaSpec ident="myTEI">
               <moduleRef key="tei"/>
               <!-- Checking module "core" -->
               <moduleRef key="core" include="addrLine address author bibl biblStruct choice date foreign graphic head hi imprint l label lb lg listBibl measure monogr note orig p pb ptr pubPlace publisher ref reg relatedItem resp respStmt sic sp speaker stage term title"/>
               <!-- Checking element "pubPlace" -->
               <elementSpec ident="pubPlace" mode="change">
                  <attList>
                     <attDef ident="corresp" mode="delete"/>
                     <attDef ident="next" mode="delete"/>
                     <attDef ident="prev" mode="delete"/>
                     <attDef ident="ana" mode="delete"/>
                     <attDef ident="facs" mode="delete"/>
                     <attDef ident="resp" mode="delete"/>
                     <attDef ident="cert" mode="change">
                        <valList mode="add" type="closed">
                           <valItem ident="high"/>
                           <valItem ident="medium"/>
                           <valItem ident="low"/>
                           <valItem ident="unknown"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <!-- Checking attributes (https://tei-c.org/release/doc/tei-p5-doc/en/html/REF-CLASSES-ATTS.html) -->
               <!-- Checking attributes, letter a -->
               <classSpec ident="att.anchoring" type="atts" mode="delete"/>
               <classSpec ident="att.ascribed.directed" type="atts" mode="delete"/>
               <!-- Checking attributes, letter b -->
               <classSpec ident="att.breaking" type="atts" mode="delete"/>
               <!-- Checking attributes, letter c -->
               <classSpec ident="att.citeStructurePart" type="atts" mode="delete"/>
               <classSpec ident="att.combinable" type="atts" mode="delete"/>
               <classSpec ident="att.cReferencing" type="atts" mode="delete"/>
               <classSpec ident="att.citing" type="atts" mode="change">
                  <attList>
                     <attDef ident="from" mode="delete"/>
                     <attDef ident="tog" mode="delete"/>
                  </attList>
               </classSpec>
               <classSpec ident="att.coordinated" type="atts" mode="change">
                  <attList>
                     <attDef ident="start" mode="delete"/>
                  </attList>
               </classSpec> 
            </schemaSpec>
         </div>
      </body>
   </text>
</TEI>
